<!DOCTYPE html>
<html>
<head>
	<title>Great Numbers Game</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/too_low.css')}}">
</head>
<body>
	<h1>Welcome to the Great Numbers Game!</h1>
	<h2>I am thinking of a number between 1 and 100</h2>
	<h3>Take a guess..!</h3>
	<form action="/guess" method="get">
		<input type="text" name="number">
		<input type="button" name="submit" value="Submit" class="submit">
		<input type="submit" name="restart" value="Reset">
	</form>
	<div>
		<h3>The number was too low!</h3>
	</div>
</body>
</html>